services:
  mod-build:
    image: gradle:4.10.3-jdk8
    user: "0:0"
    working_dir: /src
    volumes:
      - ./dumper-mod:/src
      - dumper_out:/dumper
      - gradle_cache:/home/gradle/.gradle
    command: >
      bash -lc "
        set -e;
        gradle --no-daemon clean build;
        ls -la /src/build/libs;
        cp /src/build/libs/RecipeDumper-*.jar /dumper/RecipeDumper.jar;
        ls -la /dumper
      "

  gtnh-dump:
    build:
      context: ./runner
    depends_on:
      - mod-build
    environment:
      GTNH_SERVER_ZIP_URL: "${GTNH_SERVER_ZIP_URL}"
      DUMPER_JAR_PATH: "/dumper/RecipeDumper.jar"
      JAVA_XMS: "${JAVA_XMS:-2G}"
      JAVA_XMX: "${JAVA_XMX:-6G}"
    volumes:
      - ./out:/work/out
      - ./cache/server:/work/server
      - dumper_out:/dumper:ro

volumes:
  dumper_out:
  gradle_cache: